body { background: #f4f69; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 39px; display: flex; }
.block-filter-0 { color: #5592de; font-size: 21px; margin-bottom: 5px; }
.block-session-1 { color: #5b9c75; font-size: 17px; margin-bottom: 5px; }
.block-sms-2 { color: #311e90; font-size: 16px; margin-bottom: 5px; }
.block-cluster-3 { color: #dc2999; font-size: 21px; margin-bottom: 5px; }
.block-cart-4 { color: #5f5b24; font-size: 16px; margin-bottom: 5px; }
.block-filter-5 { color: #28c769; font-size: 16px; margin-bottom: 5px; }